<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="assets/css/about.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">
    
          <h1 class="logo mr-auto"><a href="">Vikrant Speciality Services Pvt Ltd</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#cliens">Clients</a></li>
              <li><a href="#contact">Contact</a></li>
    
            </ul>
          </nav><!-- .nav-menu -->
    
    
        </div>
    </header>
      <div class="container">
        <h2>About Us</h2>
        
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              We are here for every step of your project from printing and mailing list development through addressing and packaging; from obtaining the proper permits, sorting and metering to on-time delivery.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> We have invested in new technology, talent and resources and we remain a leader in every service that we provide.</li>
              <li><i class="ri-check-double-line"></i> As the business world continues to change, Vikrant Services will continue to leverage state-of-the-art technologies and best practices to meet the immediate and future needs of our clients.</li>
              <!-- <li><i class="ri-check-double-line"></i> Data Security</li> -->
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Since 1997, businesses throughout the region have relied on Vikrant Services for professional mailing services with personal attention. Over the years Vikrant Services has grown to accommodate the changing needs of our clients. 
            </p>
            <a href="about" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

      </div>
        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>